<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <properties resource="mybatis-generator-db.properties"/>
    <!-- defaultModelType="flat" 设置复合主键时不单独为主键创建实体 -->
    <context id="MySqlContext" targetRuntime="MyBatis3" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 为模型生成序列化方法-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!-- 为生成的Java模型创建一个toString方法 -->
        <!--<plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>-->
        <!-- 使用自定义的插件 -->
        <plugin type="cn.edcheung.springskills.db.codegenerator01.LombokPlugin"/>
        <!-- 生成mapper.xml时覆盖原文件 -->
        <!--<plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin" />-->
        <!-- 自定义的注释规则，继承 DefaultCommentGenerator 重写方法 -->
        <commentGenerator type="cn.edcheung.springskills.db.codegenerator01.CommentGenerator">
            <!-- 是否去除所有自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
            <!-- 是否去除自动生成日期的注释 true：是 ： false:否 -->
            <property name="suppressDate" value="true"/>
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="${jdbc.driverClass}"
                        connectionURL="${jdbc.connectionURL}"
                        userId="${jdbc.userId}"
                        password="${jdbc.password}">
            <!--解决mysql驱动升级到8.0后不生成指定数据库代码的问题-->
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <!--数据库BigDecimals字段在java中定义-->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
            <!--强制使用JSR-310日期类型LocalDate, LocalTime, LocalDateTime-->
            <!--<property name="useJSR310Types" value="true"/>-->
        </javaTypeResolver>

        <!--生成entity类存放位置-->
        <javaModelGenerator targetPackage="cn.edcheung.springskills.db.persistence.entity"
                            targetProject="D:\Work\Study\spring-boot-demo\src\main\java">
            <property name="enableSubPackages" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="D:\Work\Study\spring-boot-demo\src\main\resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="cn.edcheung.springskills.db.persistence.dao"
                             targetProject="D:\Work\Study\spring-boot-demo\src\main\java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--生成全部表tableName设为%-->
        <table tableName="cloud_%" enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
            <!--<domainObjectRenamingRule searchString="cloud_" replaceString=""/>-->
        </table>
        <!--<table tableName="sys_action" domainObjectName="sysAction">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
            <columnRenamingRule searchString="^[^_]+" replaceString=""/>
        </table>-->
    </context>
</generatorConfiguration>